
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title></title>
</head>
<body style="width:100%">
    <br />

    <div class="jumbotron" style="border: 1px inset #66c2c2; margin: auto 10% auto 10%; background-color:transparent">
        <div class="container">
            <h1> <center> Tramitar </center></h1>

            <br /> <br />

                   <div class="row shadow-lg p-3 mb-5 bg-white rounded">

                       <div class="col-sm-7">
                           <div class="input-group mb-3 col-sm-9">
                               <div class="input-group-prepend">
                                   <span class="input-group-text " style="width:150px" id="inputGroup-sizing-default">Nombre</span>

                               </div>
                               <input type="text" class="form-control" style="width:100px" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                           </div>

                           <div class="input-group mb-3 col-sm-9">
                               <div class="input-group-prepend">
                                   <span class="input-group-text " style="width:150px" id="inputGroup-sizing-default">Estado Actual</span>

                               </div>
                               <input type="text" class="form-control" style="width:100px" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                           </div>

                       </div>


                       <div class="col-sm-4">

                           <div class="input-group mb-3 col-sm-14">
                               <div class="input-group-prepend">
                                   <span class="input-group-text " style="width:150px" id="inputGroup-sizing-default">Código</span>
                               </div>
                               <input type="text" class="form-control" style="width:50px" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                           </div>



                           <div class="input-group mb-3 col-sm-14">
                               <div class="input-group-prepend">
                                   <span class="input-group-text " style="width:150px" id="inputGroup-sizing-default">Estado Nuevo</span>
                               </div>
                               <input type="text" class="form-control" style="width:50px" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                           </div>
                       </div>

                       <div class="input-group mb-3 col-sm-9">
                           <div class="input-group-prepend">
                               <span class="input-group-text " style="width:150px" id="inputGroup-sizing-default">Observaciones</span>

                           </div>
                           <input type="text" class="form-control" style="width:100px" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                       </div>




                       
                       </div>
                   </div>




            <button style="width: 10% " type="button" class="btn btn-light">Atras</button>
            <button style="width:10%" type="button" class="btn btn-light">Guardar</button>

        </div>


    </div>


    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
