

<!DOCTYPE html>
<html lang="en" style="height:100%; width: 100% ">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body style="width:100%">
    <br />

    <div class="jumbotron" style="border: 1px inset #66c2c2; margin: auto 10% auto 10%; background-color:transparent">
        <div class="container">
            <h1> <center>Aprobar distribución</center></h1>

            <br /> <br />


            <div class="row shadow p-3 mb-5 bg-white rounded">

                <div class="col-sm-6">
                    <div class="input-group mb-3 col-sm-10">
                        <div class="input-group-prepend">
                            <span class="input-group-text " style="width:145px" id="inputGroup-sizing-default">Distribución</span>

                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                    </div>

                    <div class="input-group mb-3 col-sm-10">
                        <div class="input-group-prepend">
                            <span class="input-group-text " style="width:145px" id="inputGroup-sizing-default">Tipo</span>

                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                    </div>

                </div>

                <div class="col-sm-6">
                    <div class="input-group mb-3 col-sm-10">
                        <div class="input-group-prepend">
                            <span class="input-group-text " style="width:145px" id="inputGroup-sizing-default">Fecha distribución</span>

                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                    </div>

                    <div class="input-group mb-3 col-sm-10">
                        <div class="input-group-prepend">
                            <span class="input-group-text " style="width:145px" id="inputGroup-sizing-default">Monto</span>

                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                    </div>

                </div>
            </div>

        </div>

        <hr class="my-4">

        <br />
        <div class="row shadow p-3 mb-5 bg-white rounded">

            <div class="col-sm-6">
                <div class="input-group mb-3 col-sm-11">
                    <div class="input-group-prepend">
                        <span class="input-group-text " style="width:160px" id="inputGroup-sizing-default">Fecha aprobación</span>

                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                </div>

                <div class="input-group mb-3 col-sm-11">
                    <div class="input-group-prepend">
                        <span class="input-group-text " style="width:160px" id="inputGroup-sizing-default">Número resolución</span>

                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                </div>

            </div>

            <div class="col-sm-6">
                <div class="input-group mb-3 col-sm-11">
                    <div class="input-group-prepend">
                        <span class="input-group-text " style="width:160px" id="inputGroup-sizing-default">Excuir asociación al</span>

                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                </div>

                <div class="input-group mb-3 col-sm-11">
                    <div class="input-group-prepend">
                        <span class="input-group-text " style="width:160px" id="inputGroup-sizing-default">Número de acuerdo</span>

                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                </div>

            </div>

            <div class="form-group col-sm-9">
                <br />
                <label for="exampleFormControlTextarea1">Observarción</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows=""></textarea>
            </div>
        </div>



        <div class="btn-group" role="group" aria-label="Basic example" style="float:right">
            <button type="button" class="btn btn-outline-primary btn-lg">Cancelar</button>
            <button type="button" class="btn btn-outline-primary btn-lg">Aprobar</button>
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


</body>
</html>


