<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <title></title>
</head>
<body style="width:100%">
    <br />

    <div class="jumbotron" style="border: 1px inset #66c2c2; margin: auto 10% auto 10%; background-color:transparent">
        <div class="container">
            <h1> <center> Eliminar del Periodo Actual de Distribucion </center></h1>

            <br /> <br />

            <div class="row shadow-lg p-3 mb-5 bg-white rounded">

                <div class="col-sm-6">
                    <div class="input-group mb-3 col-sm-9">
                        <div class="input-group-prepend">
                            <span class="input-group-text " style="width:100px" id="inputGroup-sizing-default">Registro</span>

                        </div>
                        <input type="text" class="form-control" style="width:100px" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                    </div>

                    <div class="input-group mb-3 col-sm-9">
                        <div class="input-group-prepend">
                            <span class="input-group-text " style="width:100px" id="inputGroup-sizing-default">Cedula</span>

                        </div>
                        <input type="text" class="form-control" style="width:100px" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                    </div>
                    <div class="input-group mb-3 col-sm-9">
                        <div class="input-group-prepend">
                            <span class="input-group-text " style="width:100px" id="inputGroup-sizing-default">Tipo</span>

                        </div>
                        <input type="text" class="form-control" style="width:100px" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                    </div>
                </div>


                <div class="col-sm-6">

                    <div class="input-group mb-3 col-sm-9">
                        <div class="input-group-prepend">
                            <span class="input-group-text " style="width:100px" id="inputGroup-sizing-default">Periodo</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>

                    <div class="input-group mb-3 col-sm-9">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:100px" for="inputGroupSelect01">Estado</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option selected>Choose...</option>
                            <option value="1">Activo</option>
                            <option value="2">Inactivo</option>
                            <option value="3">Pendinte</option>
                        </select>
                    </div>


                    <div class="input-group mb-3 col-sm-9">
                        <div class="input-group-prepend">
                            <span class="input-group-text " style="width:100px" id="inputGroup-sizing-default">Nombre</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>

                </div>
            </div>

            <hr class="my-4">

            <div class="jumbotron" style="margin: auto 10% auto 10%; background-color:transparent">
                <div class="container">
                    <br />
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group mb-3 col-sm-11">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:115px " for="inputGroupSelect01">Distribucion</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01">
                                    <option selected>Choose...</option>
                                    <option value="1">Activo</option>
                                    <option value="2">Inactivo</option>
                                    <option value="3">Pendinte</option>
                                </select>
                            </div>

                        </div>
                        <br />

                        <div class="col-sm-6">
                            <div class="input-group mb-3 col-sm-11">
                                <div class="input-group-prepend">
                                    <span class="input-group-text " style="width:270px" id="inputGroup-sizing-default">Razon para eliminar</span>

                                </div>
                                <div class="form-group" style="padding-top: 2%">
                                    <textarea class="form-control" rows="5" cols="100" id="comment"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <div class=" col-sm-10">
                    <div style="padding-left: 2%" class="input-group-prepend">
                        <label style="width: 90%" class="checkbox-inline" id="inputGroup-sizing-default">
                            <input type="checkbox" value="">Se confirma la verificacion de todos los datos correctos
                        </label>
                    </div>
                </div>





            </div>

            <br />
            <div class="btn-group" role="group" aria-label="Basic example" style="float:right">
                <button type="button" class="btn btn-outline-primary btn-lg">Eliminar</button>
                <button type="button" class="btn btn-outline-primary btn-lg">Guardar</button>
            </div>

        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
