
<!DOCTYPE html>
<html lang="en" style="height:100%; width: 100% ">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body style="width:100%">
    <br />

    <div class="jumbotron" style="border: 1px inset #66c2c2; margin: auto 10% auto 10%; background-color:transparent">
        <div class="container">
            <h1> <center> Nuevo Proyeto</center></h1>

            <br /> <br />


            <div class="row shadow p-3 mb-5 bg-white rounded">

                <div class="col-sm-6">
                    <div class="input-group mb-3 col-sm-9">
                        <div class="input-group-prepend">
                            <span class="input-group-text " style="width:100px" id="inputGroup-sizing-default">Registro</span>

                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                    </div>


                    <div class="input-group mb-3 col-sm-9">
                        <div class="input-group-prepend">
                            <span class="input-group-text " style="width:100px" id="inputGroup-sizing-default">Vencimiento</span>

                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                    </div>


                    <div class="input-group mb-3 col-sm-9">
                        <div class="input-group-prepend">
                            <span class="input-group-text " style="width:100px" id="inputGroup-sizing-default">Tipo</span>

                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                    </div>

                    <div class="input-group mb-3 col-sm-9">
                        <div class="input-group-prepend">
                            <span class="input-group-text " style="width:100px" id="inputGroup-sizing-default">Estado</span>

                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                    </div>


                </div>


                <div class="col-sm-6">

                    <div class="input-group mb-3 col-sm-9">
                        <div class="input-group-prepend">
                            <span class="input-group-text " style="width:90px" id="inputGroup-sizing-default">Periodo</span>

                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                    </div>

                    <div class="input-group mb-3 col-sm-9">
                        <div class="input-group-prepend">
                            <span class="input-group-text " style="width:90px" id="inputGroup-sizing-default">Cédula</span>

                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                    </div>

                    <div class="input-group mb-3 col-sm-9">
                        <div class="input-group-prepend">
                            <span class="input-group-text " style="width:90px" id="inputGroup-sizing-default">Nombre</span>

                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                    </div>

                    <div class="input-group mb-3 col-sm-9">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:90px" for="inputGroupSelect01">Región</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>


        <hr class="my-4">
        <br /> <br />
        <form >
            <div class="form-group">
                <label for="usr">Nombre:</label>
                <textarea type="text" class="form-control " id="usr"  placeholder="Nombre del proyecto"></textarea>
            </div>
        </form>

        <br /><br />
        <div class="row">

            <div class="col-sm-6">
                <div class="input-group mb-3 col-sm-10">
                    <div class="input-group-prepend">
                        <span class="input-group-text " style="width:145px" id="inputGroup-sizing-default">Monto solicitado</span>

                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                </div>

                <div class="input-group mb-3 col-sm-10">
                    <div class="input-group-prepend">
                        <span class="input-group-text " style="width:145px" id="inputGroup-sizing-default">Fecha de ingreso</span>

                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                </div>

            </div>

            <div class="col-sm-6">

                <div class="input-group mb-3 col-sm-10">
                    <div class="input-group-prepend">
                        <label class="input-group-text" style="width:145px" for="inputGroupSelect01">Tipo de proyecto</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>Choose...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

                <div class="input-group mb-3 col-sm-10">
                    <div class="input-group-prepend">
                        <label class="input-group-text" style="width:145px" for="inputGroupSelect01">Subtipo proyecto</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>Choose...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>



        </div>

        <br /><br />

        <div class="btn-group" role="group" aria-label="Basic example" style="float:right">
            <button type="button" class="btn btn-outline-primary btn-lg">Cancelar</button>
            <button type="button" class="btn btn-outline-primary btn-lg">Guardar</button>
        </div>



    </div>


        <br />



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


</body>
</html>


