
<!DOCTYPE html>
<html lang="en" style="height:100%; width: 100% ">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body style="width:100%">
    <br />

    <div class="jumbotron" style="border: 1px inset #66c2c2; margin: auto 10% auto 10%; background-color:transparent">
        <div class="container">
            <h1> <center>Aprobar Proyecto</center></h1>

            <br /> <br />


                   <div class="row shadow p-3 mb-5 bg-white rounded">
                       <div class="col-sm-6">
                           <div class="input-group mb-3 col-sm-10">
                               <div class="input-group-prepend">
                                   <span class="input-group-text " style="width:145px" id="inputGroup-sizing-default">Expediente</span>

                               </div>
                               <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                           </div>

                       </div>
                       </div>
                   <div class="row shadow p-3 mb-5 bg-white rounded">

                       <div class="col-sm-6">
                           <div class="input-group mb-3 col-sm-10">
                               <div class="input-group-prepend">
                                   <span class="input-group-text " style="width:145px" id="inputGroup-sizing-default">Número Registro</span>

                               </div>
                               <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                           </div>


                           <div class="input-group mb-3 col-sm-10">
                               <div class="input-group-prepend">
                                   <span class="input-group-text " style="width:145px" id="inputGroup-sizing-default">Cédula</span>

                               </div>
                               <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                           </div>
                           <div class="input-group mb-3 col-sm-10">
                               <div class="input-group-prepend">
                                   <span class="input-group-text " style="width:145px" id="inputGroup-sizing-default">Tipo</span>

                               </div>
                               <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                           </div>

                       </div>

                       <div class="col-sm-6">
                           <div class="input-group mb-3 col-sm-10">
                               <div class="input-group-prepend">
                                   <span class="input-group-text " style="width:300px" id="inputGroup-sizing-default">Estado de la Asociación "Pendiente"</span>

                               </div>

                           </div>

                           <div class="input-group mb-3 col-sm-10">
                               <div class="input-group-prepend">
                                   <span class="input-group-text " style="width:145px" id="inputGroup-sizing-default">Estado</span>

                               </div>
                               <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                           </div>
                           <div class="input-group mb-3 col-sm-10">
                               <div class="input-group-prepend">
                                   <span class="input-group-text " style="width:145px" id="inputGroup-sizing-default">Nombre</span>

                               </div>
                               <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                           </div>

                       </div>
                       <button style="width:100%" type="button" class="btn btn-light">Ver Detalle del Proyecto</button>
                   </div>

                   </div>

        <hr class="my-4">

        <br />
        <div class="row shadow p-3 mb-5 bg-white rounded">

            <div class="col-sm-6">
                <div class="input-group mb-3 col-sm-11">
                    <div class="input-group-prepend">
                        <span class="input-group-text " style="width:180px" id="inputGroup-sizing-default">Número de Sesión</span>

                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                </div>

                <div class="input-group mb-3 col-sm-11">
                    <div class="input-group-prepend">
                        <span class="input-group-text " style="width:180px" id="inputGroup-sizing-default">Boleta de Transferencia</span>

                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                </div>

           

                <div class="input-group mb-3 col-sm-10 ">
                    <div class="input-group-prepend">
                        <label class="input-group-text" style="width:180px" for="inputGroupSelect01">Partida Aprobada</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01">
                        <option value="1">Uno</option>
                        <option value="2">Dos</option>
                        <option value="3">Tres</option>
                    </select>
                </div>

            </div>

            <div class="col-sm-6">
                <div class="input-group mb-3 col-sm-11">
                    <div class="input-group-prepend">
                        <span class="input-group-text " style="width:180px" id="inputGroup-sizing-default">Número de Acuerdo</span>

                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                </div>

                <div class="input-group mb-3 col-sm-11">
                    <div class="input-group-prepend">
                        <span class="input-group-text " style="width:180px" id="inputGroup-sizing-default">Fecha de Aprobación</span>

                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                </div>
                <div class="input-group mb-3 col-sm-11">
                    <div class="input-group-prepend">
                        <span class="input-group-text " style="width:180px" id="inputGroup-sizing-default">Monto Aprobado</span>

                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                </div>

            </div>

            <div class="form-group col-sm-9">
                <br />
                <label for="exampleFormControlTextarea1">Observarción</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows=""></textarea>
            </div>
        </div>



        <div class="btn-group" role="group" aria-label="Basic example" style="float:right">
            <button style="width:100%" type="button" class="btn btn-light">Cancelar</button>
            <button style="width:100%" type="button" class="btn btn-light">Aprobar</button>
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


</body>
</html>

