 <!DOCTYPE html>
    <html lang="en" style="height:100%; width: 100% ">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body style="width:100%">
        <br />

        <div class="jumbotron" style="border: 1px inset #66c2c2; margin: auto 10% auto 10%; background-color:transparent">
            <div class="container">
                <h1> <center> Registro de acreedores del estado</center></h1>

                <br /> <br />

                <div class="row shadow-lg p-3 mb-5 bg-white rounded">

                    <div class="col-sm-6">
                        <div class="input-group mb-3 col-sm-9">
                            <div class="input-group-prepend">
                                <span class="input-group-text " style="width:90px" id="inputGroup-sizing-default">Registro</span>

                            </div>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                        </div>


                        <div class="input-group mb-3 col-sm-9">
                            <div class="input-group-prepend">
                                <span class="input-group-text " style="width:90px" id="inputGroup-sizing-default">Cédula</span>

                            </div>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                        </div>


                        <div class="input-group mb-3 col-sm-9">
                            <div class="input-group-prepend">
                                <span class="input-group-text " style="width:90px" id="inputGroup-sizing-default">Tipo</span>

                            </div>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                        </div>


                    </div>


                    <div class="col-sm-6">

                        <div class="input-group mb-3 col-sm-9">
                            <div class="input-group-prepend">
                                <span class="input-group-text " style="width:90px" id="inputGroup-sizing-default">Periodo</span>

                            </div>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                        </div>


                        <div class="input-group mb-3 col-sm-9">
                            <div class="input-group-prepend">
                                <span class="input-group-text " style="width:90px" id="inputGroup-sizing-default">Estado</span>

                            </div>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                        </div>


                        <div class="input-group mb-3 col-sm-9">
                            <div class="input-group-prepend">
                                <span class="input-group-text " style="width:90px" id="inputGroup-sizing-default">Nombre</span>

                            </div>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                        </div>

                    </div>

                </div>

            </div>


            <hr class="my-4">

            <br />

            <div class="shadow p-3 mb-5 bg-white rounded">

                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="">Asociación beneficiaria de cemento
                    </label>
                </div>

                <br />
                <form>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Centro Gestor</label>
                        <input type="text" class="form-control" id="formGroupCentro Gestor" placeholder="Centro Gestor">
                    </div>

                    <br />

                    <div class="form-group">
                        <label for="formGroupExampleInput">Posición presupuestaria</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Posición presupuestaria">
                    </div>

                    <br />

                    <div class="form-group">
                        <label for="formGroupExampleInput">Cuenta cliente proyecto</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Cuenta cliente proyecto">
                    </div>

                    <br />

                    <div class="form-group">
                        <label for="formGroupExampleInput">Cuenta cliente 2% y Cemento</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Cuenta cliente 2% y Cemento">
                    </div>

                    <br />
                    <div class="form-group">
                        <label for="formGroupExampleInput">Número de Oficio del Ministerio de Gobernación</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                    </div>
                    <br />

                </form>

                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="">He realizado la revisión en SIGAF
                    </label>
                </div>
                <br />

                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="">Las cuentas se encuentra registrada en el SIGAF
                    </label>
                </div>

                <br />
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="">
                        El nombre de la asociación y cédula jurídica están asociados a las cuentas en el SIGAF
                    </label>
                </div>

                <br />
                <form>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Observarción</label>
                        <textarea type="text" class="form-control" id="formGroupExampleInput"></textarea>
                    </div>
                </form>
                <br />
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="">Yo el administrdor, doy por fe de que la inf
                    </label>
                </div>
                <br />
            </div>

            <div class="btn-group" role="group" aria-label="Basic example" style="float:right">
                <button type="button" class="btn btn-outline-primary btn-lg">Cancelar</button>
                <button type="button" class="btn btn-outline-primary btn-lg">Guardar</button>
            </div>
        </div>


        <script src="/Scripts/jquery-3.0.0.js"></script>

        <script src="/Scripts/bootstrap.js"></script>
        <script src="/Scripts/respond.js"></script>



    </body>
</html>




