<!DOCTYPE html>
<html lang="en" style="height:100%; width: 100% ">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body style="width:100%">
    <br />

    <div class="jumbotron" style="border: 1px inset #66c2c2; margin: auto 10% auto 10%; background-color:transparent">
        <div class="container">
            <h1> <center> Liquidar</center></h1>

            <br /> <br />


            <form>
                <div class="form-group">
                    <label for="usr">Número de expediente:</label>
                    <input type="text" class="form-control" id="usr" placeholder="Número expediente">
                </div>

                <button type="button" class="btn btn-outline-primary btn-lg">Buscar</button>

                <br /><br />

            </form>

            <div class="row shadow p-3 mb-5 bg-white rounded">

                <div class="col-sm-6">
                    <div class="input-group mb-3 col-sm-10">
                        <div class="input-group-prepend">
                            <span class="input-group-text " style="width:145px" id="inputGroup-sizing-default">Tipo de proyecto</span>

                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                    </div>

                    <div class="input-group mb-3 col-sm-10">
                        <div class="input-group-prepend">
                            <span class="input-group-text " style="width:145px" id="inputGroup-sizing-default">Estado</span>

                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                    </div>

                </div>

                <div class="col-sm-6">
                    <div class="input-group mb-3 col-sm-10">
                        <div class="input-group-prepend">
                            <span class="input-group-text " style="width:145px" id="inputGroup-sizing-default">Nombre</span>

                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                    </div>

                    <div class="input-group mb-3 col-sm-10">
                        <div class="input-group-prepend">
                            <span class="input-group-text " style="width:145px" id="inputGroup-sizing-default">Cédula</span>

                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                    </div>

                </div>
            </div>

        </div>
            
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">Formulario completo y debidamente firmado
                </label>
            </div>

            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">Guía para la revisión de liquidación de
                    recursos de proyecto completo y firmado
                </label>
            </div>

            <br />
            <div class="row shadow p-3 mb-5 bg-white rounded" style="border:1px inset ; margin: auto 10% auto 10%; background-color:transparent">

                <div class="input-group mb-3 col-sm-10">
                    <div class="input-group-prepend">
                        <span class="input-group-text " style="width:145px" id="inputGroup-sizing-default">Monto entregado</span>

                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                </div>

                <br /><br />

                <div class="input-group mb-3 col-sm-10">
                    <div class="input-group-prepend">
                        <span class="input-group-text " style="width:145px" id="inputGroup-sizing-default">Fecha de liquidación</span>

                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                </div>

                <br /><br />

                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="">Se utilizo todo el monto
                    </label>
                </div>

                <br /><br />

                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="">Se utilizo parte del monto
                    </label>
                </div>

                <br /><br />

                <div class="input-group mb-3 col-sm-10">
                    <div class="input-group-prepend">
                        <span class="input-group-text " style="width:165px" id="inputGroup-sizing-default">Monto utlilzado</span>

                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                </div>

                <div class="input-group mb-3 col-sm-10">
                    <div class="input-group-prepend">
                        <label class="input-group-text" style="width:165px" for="inputGroupSelect01">Institución</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>Choose...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

                <div class="input-group mb-3 col-sm-10">
                    <div class="input-group-prepend">
                        <span class="input-group-text " style="width:165px" id="inputGroup-sizing-default">Comprobante</span>

                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                </div>

                <div class="input-group mb-3 col-sm-10">
                    <div class="input-group-prepend">
                        <span class="input-group-text " style="width:165px" id="inputGroup-sizing-default">Monto reembolzado</span>

                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

                </div>

                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="">Deposito a nombre de Ministerio de Hacienda
                    </label> 
                </div>

                <br />

                <div class="form-group">
                    <br />
                    <label for="exampleFormControlTextarea1">Observarción</label>
                    <textarea class="form-control col-sm-10" id="exampleFormControlTextarea1" rows=""></textarea>
                </div>

            </div>
        
        

        <div class="btn-group" role="group" aria-label="Basic example" style="float:right">
            <button type="button" class="btn btn-outline-primary btn-lg">Cancelar</button>
            <button type="button" class="btn btn-outline-primary btn-lg">Aceptar</button>
        </div>

    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


</body>
</html>

